.col {
}
.row {
  margin: 10px;
}

.stats__title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 15px;
  height: 6px;
  text-transform: uppercase;
  color: gray;
  opacity: 0.9;
}

.stats__value {
  font-weight: 500;
  padding-left: 12px;
  font-size: 25px;
}
.show__more {
  padding-left: 52rem;
  color: aquamarine;
}
