.App {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
}
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main {
  flex: 1;
  min-height: 100%;
}
.footer {
  min-width: none;
  min-height: 15%;
  max-height: 15%;
}
